* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9f9f9;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #333;
    height: 100px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-content {
    display: inline-flex;
    gap: 25px;
}

.nav-content a {
color: #fff;
font-size: 16px;
text-decoration: none;
cursor: pointer;
}

ul li {
    list-style-type: none;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: white;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin-top: 15px;
    font-size: 1.2rem;
}
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
} 

label {
    display: block;
    text-align: left;
    font-weight: bold;
}

input {
    text-align: left;
    width: 100%;
    height: 40px;
}

button {
    display: block;
    height: 50px;
    width: 100px;
    background: #333;
    color: #fff;
}

footer {
padding: 20px;
background: #333;
color: #fff;
text-align: center;
}


@media (max-width: 600px) {
    .nav-content {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }
}
